.card{
    width:var(--size-card);
    border-radius: var(--radius--out);
    background-color: var(--color-card--back);
    color: var(--color-card--front);
    padding: var(--padding); 
    text-align: center;
}